body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
p,
blockquote,
hr,
th,
td {
    margin: 0;
    padding: 0;
}

h3,
h4,
h5,
h6 {
    font-weight: 700;
}

h1,
h2 {
    font-weight: 700;
}

small {
    font-weight: 400;
    font-size: 12px;
}

html {
    -webkit-font-smoothing: antialiased;
}

strong,
b {
    font-weight: 700;
}

* {
    font-family: var(--font);
    font-weight: 300;
    font-style: normal;
    box-sizing: border-box;
    outline: none;
}

body {
    color: #2B2B2B;
    background: #FFFFFF;
    font-weight: 400;
    letter-spacing: 0px;
    font-family: 'Montserrat', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

a,
button {
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    /* Firefox 4 */
    -webkit-transition: all 0.5s ease;
    /* Safari and Chrome */
    -o-transition: all 0.5s ease;
    /* Opera */
    text-decoration: none;
    cursor: pointer;
}

:root {
    font-size: 16px;
}

.container {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1400px;
    }
}

.headerMobile {
    display: none;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding: 10px 50px;
    position: absolute;
    width: 100%;
}

.effectHeader {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background: #A141EB;
    width: 700px;
    height: 80px;
    border-bottom-right-radius: 50px;
}

.headerItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    font-weight: 600;
    color: #FFFFFF;
    border-radius: 50px;
    padding: 10px 30px;
    line-height: 1.6875rem;
    font-size: 0.9rem;
    z-index: 1;
}

.franchisee {
    background-color: #E1A626;
}

.consultant {
    background-color: #7928B7;
}

.buyIt {
    background-color: #1DB4D4;
    font-weight: 800;
}

.restrictArea {
    background-color: #E1A626;
    position: absolute;
    top: -7px;
    right: 6%;
    border-radius: 10px;
}

.banner {
    height: 600px;
}

.bannerImg {
    position: relative;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.bannerContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: 5%;
    background-image: linear-gradient( 90deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(193, 227, 234, 0));
    height: inherit;
    position: absolute;
    top: 0px;
}

.bannerTitle {
    font-weight: 900;
    font-size: 3rem;
    line-height: 8rem;
    color: #E1A626;
}

.bannerText {
    font-size: 1rem;
    line-height: 1.5rem;
}

.clickHere {
    text-decoration: underline;
    font-weight: 700;
    color: #A141EB;
}

.faq {
    background-color: #F1F1F1;
    padding: 60px 15% 100px 0px;
    padding-left: 50px;
}

.faqWrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.faqHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    gap: 30px;
}

.faqTitle {
    color: #A141EB;
    line-height: 2rem;
    font-size: 1.15rem;
    flex: 0 0 auto;
}

.faqLine {
    height: 2px;
    background: #e7e7e7;
    flex: 1;
}

.faqOpen {
    cursor: pointer;
    height: 17px;
    width: 30px;
}

.faqDescription {
    width: 80%;
    padding: 2% 0;
    display: none;
    font-size: 1rem;
}

.footer {
    background-color: #A141EB;
}

.footerText {
    font-size: .8rem;
    font-weight: 500;
    padding: 2% 0;
    text-align: center;
    color: #fff;
}