/* General CSS Properties */

.container {
    max-width: 100%;
}


/* Header CSS Properties */

.headerContainer {
    display: none;
}

.effectHeader {
    width: 100%;
}

.headerMobile {
    background-color: #A141EB;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 5%;
    align-items: flex-end;
    position: fixed;
    top: 0px;
    z-index: 99;
    height: 55px;
}

.containerItems {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 54px;
    right: -1200px;
    background: #A141EB;
    transition: all 0.7s ease;
}

.containerItems.active {
    right: 0px;
}

.headerItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5% 18%;
    padding: 1% 1%;
    font-size: .65rem;
}

.menuButton {
    background-color: #9EAD0E;
    font-weight: 800;
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px;
    position: fixed;
    top: 10px;
    right: 5%;
}

.restrictArea {
    position: relative;
    border-radius: 50px;
    top: 0px;
    right: 0px;
}


/* Banner CSS Properties */

.bannerContent {
    position: relative;
}

.bannerTitle {
    font-size: 2rem;
    line-height: 5.5rem;
}

.banner {
    height: 260px;
    margin-top: 55px;
}

.effectBanner {
    margin-top: 55px;
    height: 260px;
}

.bannerImg {
    height: 260px;
}

.bannerText {
    font-size: 0.75rem;
    line-height: 1.5rem;
    font-weight: 500;
}


/* FAQ CSS Properties */

.faq {
    padding: 0;
}

.faqWrapper {
    width: 100%;
    padding: 60px 15px 80px 15px;
    gap: 10px;
}

.faqLine {
    display: none;
}

.faqTitle {
    flex: auto;
    font-size: 0.85rem;
}

.faqOpen {
    height: 10px;
    width: 17.65px;
}

.faqDescription {
    font-size: .8rem;
}